{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="container">
{%- for credential in credentials | reverse -%}
  {%- if credential.attributes is some -%}
    {%- if credential.attributes -%}
        {{ macros::attributes(credential=credential) }}
    {%- else -%}
        {{ macros::guest_not_shared(credential=credential) }}
    {%- endif -%}
  {%- else -%}
    {{ macros::guest_busy(credential=credential) }}
  {%- endif -%}
{%- else -%}
  {% include "none_in_room.html" %}
{%- endfor -%}
{% include "logout_form.html" %}
{% include "footer.html" %}
</div>
{% endblock content %}
